/* second.css */

.Second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circular-photo {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 50%;
  /* overflow: hidden; */
  position: relative;
}

.circular-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Make the small images circular */
  overflow: hidden;
  position: absolute;
  border: 2px solid white; /* Add border styles as needed */
}

.small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-left {
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

.top-right {
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.bottom-left {
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

.bottom-right {
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}